<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Roleplast-Official site</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../public/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../public/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/css/style.css" rel="stylesheet">

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


      <a href="#" class="logo mr-auto"><img src="../public/img/brand-logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Why us</a></li>
          <li class="drop-down"><a href="#departments">Products</a>
            <ul>
              <li><a href="#departments">uPVC pipes & fittings</a></li>
              <li><a href="#departments">Swr pipes & fittings</a></li>
              <li><a href="#departments">Agricultural pipes & fittings</a></li>
              <li><a href="#departments">Borewell column & pipes</a></li>
              <li><a href="#departments">Pvc garden hose and pipes</a></li>
            </ul>
          </li>
           
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#appointment" class="appointment-btn scrollto">Contact</a>
      <img src="../public/img/make-in-india.png" class="make-india" alt="">
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to <img src="../public/img/brand-logo.png" alt="" class="img-fluid"></h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Home Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Roleplast?</h3>
              <div class="text-center">
                <p>Roleplast has been marked by trust and longevity across trade channels and end consumers; The company possesses deep insight of the product and has its capability in satisfying the customer need.</p>
                <a href="#services" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-magic"><br></i>
                    <br>
                    <h4>Best Service</h4>
                    <p>Ensured product quality</p>
                    <p>Increase in customer satisfaction</p>
                    <p>Quick delivery of products</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-speed-meter"> <br></i>
                    <br>
                    <h4>Wide Range</h4>
                    <p>Wide choice of product & sizes</p>
                    <p>Reasonably priced</p>
                    <p>Products for various applications</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-safety-hat-light"><br></i>
                    <br>
                    <h4>Safety First</h4>
                    <p>Conform to national and international specifications</p>
                    <p>Made from virgin raw materials</p>
                  </div>
                </div>
              </div>
            </div><!-- End content-->
          </div>
        </div>
        
    </div><!--Container div-->
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>About</h3>
                <p>We believe in flat organizational structure – a ‘Parivar’ and everyone within the organizational map operates with two basic mantra ‘Aachhi Niyat’ and ‘Pucca Irada’.</p>
            <div class="icon-box">
              <div class="icon"><i class="icofont-license"></i></div>
              <p class="description">Established in 2019, we - Roleplast are an ISO: 9001:2015 Certified Company engaged in manufacturing of PVC Pipes and Garden Pipes. Our factory is situated at Malda and our registered office is located in Kolkata. Our mission is to bring a revolution in plastic pipe industry through innovative solutions which would create a profitable growth and benefit our customers & the customers at large.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="icofont-license"></i></i></div>
              <p class="description">Under the veteran leadership of Mr. T.C. Jain – the Founder of our company, we are moving ahead with new targets. With his experience in this domain, his practical approach towards the incorporation of integrated manufacturing processes and the modernization of facility has enabled us to reach exceptional position in the market.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="icofont-license"></i></i></div>
              <p class="description">Our consistent efforts to meet the ever-changing needs of market has made our customers trust us and continue business with regular orders. With the support of experienced team, we provide Pre-Sale product consultation & demonstrations and Post-Sale assistance, to ensure the best use of money of customers invested into our products.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    <!-- ======= Why us Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Why Roleplast?</h2>
          <p>Roleplast is one of the best PVC pipes manufacturers of Polymer Products in Eastern India. The company’s production unit is located at Malda, West Bengal and is equipped with the best manufacturing technology, backed with stringent quality control and checks.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="icofont-anchor"></i></div>
              <h4><a href="">Strength</a></h4>
              <p>	Strong, resilient and long lasting products.</p>
              <p>	No scales are formed and water flow is abundant.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-safety"></i></div>
              <h4><a href="">Safety</a></h4>
               <p>	Non carcinogenic and safe for drinking water.</p>
               <p>	Chemically inert.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-link-alt"></i></div>
              <h4><a href="">Availability</a></h4>
              <p>	Leak proof joints.</p>
              <p>	Complete control on availability of consistent quality raw material.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-start mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-wrench"></i></div>
              <h4><a href="">User-friendliness</a></h4>
              <p>	Easy fixing, plumber friendly installations.</p>
              <p>	High availability of the products.</p>
              <p>	One of the few manufacturers maintaining and matching both Indian and Global Standards.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-gears"></i></div>
              <h4><a href="">Resilience</a></h4>
                <p>	Inner bore remain constant throughout its life due to no sedimentation and no corrosion. This leads to longer life of pump sets and low running costs</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-hour-glass"></i></div>
              <h4><a href="">Longivity</a></h4>
                <p>	Mirror like smooth inner surface, “C” Factor remains 150 throughout its life.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Why us Section -->


    <!-- ======= Products Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Products</h2>
          <p>We at Roleplast bring to you a list of sustainable and longlasting products to cater to all your needs.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">uPVC Pipes & Fittings</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" id="p-2" data-toggle="tab" href="#tab-2">SWR Pipes & Fittings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Agricultural Pipes & fittings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Borewell Columns & Pipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">PVC Garden Hose & Pipes</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>uPVC Pipes & Fittings</h3>
                    <p class="font-italic">Unplasticized polyvinyl chloride (uPVC Pipes), also known as rigid PVC, Pipes & Fittings are used for all plumbing purposes in residential & commercial buildings. Ideally suited for looping at each floor level, outdoor installations & concealed pipelines for cold water distribution. uPVC is known as having strong resistance against chemicals, sunlight & oxidation from water. uPVC is widely used in construction because it is durable, cheap and easily worked.</p>
                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../public/img/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>SWR Pipes & Fittings</h3>
                    <p class="font-italic">Harnessing the potential of uPVC pipes, Roleplast gives you a long term solution for drainage and sewerage applications. We manufacture Soil, Waste and Rain Water (SWR) uPVC pipes and fittings as per National Standard. It is ideal for both residential & commercial premises of any height.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../public/img/departments-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Agricultural Pipes & Fittings</h3>
                    <p class="font-italic">Agricultural uPVC pipes resist stringent and rigorous on-site conditions in agricultural fields. The uPVC pipes ensure zero leakage and easy installation. The uPVC pipes and fittings have unique qualities like chemical resistance, fire resistance, corrosion resistance and low thermal conductivity. The pipes and fittings are ideal for applications like Portable Water Supply, Tube Well Casing, Chemical Effluent Disposal and Agricultural Irrigation.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../public/img/departments-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Borewell Columns & Pipes</h3>
                    <p class="font-italic">Borewells or Tube wells are one of the major sources of potable ground water for everybody. These pipes are manufactured as per IS 12818 for the purpose of construction of the Tube Wells and Bore wells as well as for lowering the Pumps inside it for drawing water from the underground. uPVC Pipes being more resilient, non-corrosive and economical, it has successfully and effectively replaced the conventional piping materials.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../public/img/departments-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Garden Hose & Pipes</h3>
                    <p class="font-italic">Roleplast offers an extensive range of PVC Garden Hose Pipes that are developed using premium grade base materials and heavily used for supplying water in gardens and lawns at homes, hotels and similar segments. These PVC Garden Pipes are provided in different colors, shapes, sizes and dimensions.

                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../public/img/departments-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Products Section -->
    

    
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <form method="POST" action="submit-data"class="php-email-form">
          <p class="sent">
             {{msg}}
             <br>
          </p>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="text" name="company" class="form-control" id="date" placeholder="Company Name" data-rule="minlen:2" data-msg="Please enter at least 2 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <select name="department" id="department" class="form-control">
                <option value="">Select district</option>
                <option value="Alipurduar">Alipurduar</option>
                <option value="Bankura">Bankura</option>
                <option value="Birbhum">Birbhum</option>
                <option value="Cooch Behar">Cooch Behar</option>
                <option value="Dakshin Dinajpur (South Dinajpur)">Dakshin Dinajpur (South Dinajpur)</option>
                <option value="Darjeeling">Darjeeling</option>
                <option value="Hoogly">Hoogly</option>
                <option value="Howrah">Howrah</option>
                <option value="Jalpaiguri">Jalpaiguri</option>
                <option value="Jhargram">Jhargram</option>
                <option value="Kalimpong">Kalimpong</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Malda">Malda</option>
                <option value="Murshidabad">Murshidabad</option>
                <option value="Nadia">Nadia</option>
                <option value="North 24 Parganas">North 24 Parganas</option>
                <option value="Paschim Medinipur (West Medinipur)">Paschim Medinipur (West Medinipur)</option>
                <option value="Paschim (West) Burdwan (Bardhaman)">Paschim (West) Burdwan (Bardhaman)</option>
                <option value="Purba (East) Burdwan (Bardhaman)">Purba (East) Burdwan (Bardhaman)</option>
                <option value="Purba Medinipur (East Medinipur)">Purba Medinipur (East Medinipur)</option>
                <option value="Purulia">Purulia</option>
                <option value="South 24 Parganas">South 24 Parganas</option>
                <option value="Uttar Dinajpur (North Dinajpur)">Uttar Dinajpur (North Dinajpur)</option>
              </select>
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <select name="doctor" id="doctor" class="form-control">
                <option value="">Select product</option>
                <option value="uPVC pipes & fittings">uPVC pipes & fittings</option>
                <option value="SWR pipes & fittings">SWR pipes & fittings</option>
                <option value="Agricultural pipes & fittings">Agricultural pipes & fittings</option>
                <option value="Borewell columns & pipes">Borewell columns & pipes</option>
                <option value="PVC garden hose & pipes">PVC garden hose & pipes</option>
              </select>
              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Requirement"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message">Oops, something went wrong! Please try again!</div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Make an Appointment</button></div>
        </form>

      </div>
    </section><!-- End Appointment Section -->

    

  </main><!-- End main -->

    
    <div id="topbar" class="d-none d-lg-flex align-items-center">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <i class="icofont-envelope"></i> <a href="mailto:parasindustries108@gmail.com">parasindustries108@gmail.com</a>
          <i class="icofont-phone"></i> +91 9159880028
          <i class="icofont-google-map"></i> Plot R-17, WBIIDC, Narayanpur, Malda-732141, West Bengal
        </div>
        <div class="social-links">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="https://www.facebook.com/roleplast/" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="https://www.instagram.com/roleplast_/"  target="_blank"  class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../public/vendor/jquery/jquery.min.js"></script>
  <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../public/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../public/vendor/venobox/venobox.min.js"></script>
  <script src="../public/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../public/vendor/owl.carousel/owl.carousel.min.js"></script>
  
  <!-- Template Main JS File -->
  <script src="../public/js/main.js"></script>

</body>

</html>